<title>Eurofugees</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- 1. Pure CSS Framework -->
<link rel="stylesheet" href="/bower_components/pure/pure.css">
<!-- 2: Our CSS Framework -->
<link rel="stylesheet" type="text/css" href="/css/layout.css">
<link rel="stylesheet" type="text/css" href="/css/theme.css">
<!-- 3. Special Modules -->
<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/css/modules/side-menu.css">
<!-- 4. Jquery JavaScript called before other bottom scripts -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>