<!doctype html>
<html>
<head>
  {{> globalHead}}
</head>
<body id="about">
  <div id="layout">
    {{> globalNavigation}}
    <div id="main">
      <header class="header-bar">EuroFugees</header>
      <div class="header">
        <img src="/img/logo/logo.png" alt="EuroFugees Logo" class="logo">
      </div>
      <div class="content">
        <div class="wrap-with-bottom">
          <h1 class="center-text">Welcome</h1>
          <p>We built this app to connect locale citizens in Germany to refugees in need is residential housing. We believe every refugee should have a simple way to get housing and integrate into the German community. Thank you for participating and helping us reach this goal.</p>
        </div>
        <a href="/" class="small-link"><span class="fa fa-home"></span> Home</a>
        <a href="/faqs" class="small-link"><span class="fa fa-question-circle"></span> FAQs</a>
        <a href="/search" class="small-link"><span class="fa fa-search"></span> Find a Residence</a>
        <a href="/list-your-space" class="small-link"><span class="fa fa-plus-circle"></span> List a Residence</a>
      </div>
    </div>
  </div>
  <!-- end main content -->
  {{> globalBottomScripts}}
  <script src="/js/modules/side-menu.js"></script>
</body></html>