<!doctype html>
<html>
<head>
  {{> globalHead}}
</head>
<body id="about">
  <div id="layout">
    {{> globalNavigation}}
    <div id="main">
      <div class="header">
        <img src="/img/logo/logo-black.png" alt="EuroFugees Logo" class="logo">
      </div>
      <div class="content">
        <h1 class="center-text">Welcome</h1>
        <p>We built this app to connect locale citizens in Germany to refugees in need is residential housing. We believe every refugee should have a simple way to get housing and integrate into the German community. Thank you for participating and helping us reach this goal.</p>
      </div>
    </div>
  </div>
  <!-- end main content -->
  {{> globalBottomScripts}}
  <script src="/js/modules/side-menu.js"></script>
</body></html>