<!doctype html><html><head>{{> globalHead}}</head>
<body>
  {{> globalNavigation}}

  <script language="JavaScript">
    function showInput() {
      var fn =  document.getElementById("first-name").value;
      var ln =  document.getElementById("last-name").value;
      var phone =  document.getElementById("phone").value;
      var nocu =  document.getElementById("number-count").value;
      var age= document.getElementById("age").value;

      document.getElementById('fn').innerHTML= "Vorname: "+fn;
      document.getElementById('ln').innerHTML= "Nachname: "+ln;
      document.getElementById('applicantPhone').innerHTML= "Telefon: "+phone;
      document.getElementById('numOfOccupants').innerHTML= "Anzahl der Insassen: "+nocu;
      document.getElementById('ageOfApplicant').innerHTML= "Alter: "+age;

      document.getElementById("message").style.display = 'block';
      document.getElementById("application").style.display = 'none';

    }
  </script>

  <div clas="container">
    <div id="application">
     <form>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" id="first-name" placeholder="First Name">
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" id="last-name" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label>Your Phone Number</label>
        <input type="text" class="form-control" id="phone" placeholder="(999) 999-9999">
      </div>
      <div class="form-group">
        <label>How many people are with you?</label></br>
        <input type="number" class="form-control" min="1" max="5" id="number-count" placeholder="1 - 5">
      </div>
      <div class="form-group">
        <label>How old are you?</label></br>
        <input type="number" class="form-control" min="15" max="100" id="age" placeholder="Age">
      </div>
      <div class="form-group">
        <label>Who will be paying for you?</label><br>
        <div class="radio">
          <label>self</label>
          <input type="radio" id="optionsRadios1" id="payer" value="self" checked>
        </div>
        <div class="radio">
          <label>Government</label>
          <input type="radio" id="optionsRadios2" id="payer" value="Government">
        </div>
      </div>
    </form>
    <div style="text-align: center;">
      <input type="submit" onclick="showInput();"></br>
    </div>

    <form>
    </div>
    <div id="message" style="display: none;">
     <h3>We've sent the host the following email</h3>
     <p>Hello,</p>
     <p>Sie haben gerade einen neuen Auftrag für Ihren Eintrag. Hier ist der Klägerin Informationen:</p>
     <p id="fn"></p>
     <p id="ln"></p>
     <p id="ageOfApplicant"></p>
     <p id="numOfOccupants"></p>
     <p id="applicantPhone"></p> 
     <p>Danke :)</p> 
   </div>
 </div>

 {{> globalBottomScripts}}
</body></html>
