<!doctype html><html>
<head>{{> head}}</head>

<body>
	<nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
          <img src="/img/logo/logo-white.png" class="logo" alt="Logo">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/src/how-it-works.html">How it works</a></li>
                <li><a href="sign-up">Login</a></li>
                <li><a href="sign-up">Sign up</a></li>
                <li><a href="search">Search</a></li>
                <li><a href="/list-your-space">List your space</a></li>
                <li><a href="/src/help.html">Help</a></li>
              </ul>
           </div>
      </div>
    </nav>
    <div class="navbar-adjust"></div>
  <div class="wrap">
  <h3 class="text-center">Tell us more about your space...</h3>
  <form id="search-form" role="form" method="get" action="/add-listing">
    <div class="form-group">
      <label>Listing Title:</label>
      <input type="text" class="form-control" name="title" placeholder="Cozy home for a family of 4">
    </div>
    <div class="form-group">
      <label>What city is your apartment located in?</label>
      <input type="text" class="form-control" name="city" placeholder="Berlin">
    </div>
    <div class="form-group">
    <label>What's the maximum number of guests?</label></br>
      <input type="number" class="form-control" min="1" max="20">
    </div>
    <div class="form-group">
      <label>What type of place do you need?</label><br>
      <div class="radio">
        <label>Large Residence</label>
        <input type="radio" id="optionsRadios1" value="option1" checked>
      </div>
      <div class="radio">
        <label>Private Room</label>
        <input type="radio" id="optionsRadios2" value="option2">
      </div>
    </div>
    <button type="submit" id="submitBtn" class="btn btn-default">Submit</button>
  </form>
  </div>
  <!-- bottom scripts -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="/js/main.js"></script>
  <script type="text/javascript" src="/js/entire-home.js"></script>

</body>
</html>
