<!doctype html><html><head>{{> globalHead}}</head>
<body>
	{{> globalNavigation}}
  <!-- how it works module -->
  <div class="container">
    <h2>How It Works</h2><hr>
    <div class="help-topic">
      <h3>Lorum Ipsum</h3>
      <p>FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. </p>
    </div>
    <div class="help-topic">
      <h3>Lorum Ipsum</h3>
      <p>FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. </p>
    </div>
    <div class="help-topic">
      <h3>Lorum Ipsum</h3>
      <p>FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. </p>
    </div>
    <div class="help-topic">
      <h3>Lorum Ipsum</h3>
      <p>FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. </p>
    </div>
    <div class="help-topic">
      <h3>Lorum Ipsum</h3>
      <p>FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. </p>
    </div>
    <div class="help-topic">
      <h3>Lorum Ipsum</h3>
      <p>FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. FAQ or explanation of something. </p>
    </div>
  </div>
  {{> globalBottomScripts}}
</body></html>
