<!doctype html><html><head>{{> globalHead}}</head>
<body>
  {{> globalNavigation}}
  <div class="container">
    <h2 class="text-center">How it Works</h2>
    {{#each tutorials}}
    <div class="tutorial-topic" id="{{id}}">
      <a href="#">
        <h3>{{topic}}</h3>
      </a>
      <p>{{answer}}</p>
    </div>
    {{/each}}
  </div>
  {{> globalBottomScripts}}
</body></html>