<!doctype html><html><head>{{> globalHead}}</head>
<body>
  {{> globalNavigation}}
  <section class="row landing-feature">
    <h2 class="text-center" style="font-family: Sans-Serif; font-size: 2em; font-weight: lighter;">EuroFugees connects refugees in need to local hosts</h2>
  </section>
  <section class="fixed-bottom text-center landing-selection">
    <a href="/search">
      <div class="btn btn-default">I'm a Refugee</div>
    </a>
    <div class="btn btn-default">
      <a href="/list-your-space">I'm a Local</a>
    </div>
  </section>
  {{> globalBottomScripts}}
</body></html>
