<!doctype html><html><head>{{> globalHead}}</head>
<body id="landing">
  {{> globalNavigation}}
  <section class="landing-feature">
    <h2 class="text-center">EuroFugees connects refugees in need to local hosts</h2>
  </section>
  <section class="fixed-bottom text-center landing-selection">
    <a href="/search" class="btn btn-default">I'm a Refugee</a>
    <a href="/list-your-space" class="btn btn-default">I'm a Local</a>
</section>
{{> globalBottomScripts}}
<script type="text/javascript" src="/js/landing.js"></script>
</body></html>