<!doctype html><html><head>{{> globalHead}}</head>
<body>
  {{> globalNavigation}}
	  <div class="wrap">
      <h3 class="text-center">What type of space do you want to list?</h3>
      <form id="typeOfSpace" role="form" method="get" action="/entire-home">
        <input type="submit" id="entireHomeBtn" class="btn btn-default" value="Entrie Home">
        </input>
      </form>
      <form id="typeOfSpace" role="form" method="get" action="/private-room">
        <input type="submit" id="privateRoomBtn" class="btn btn-default" value="Private Room in your home">
        </input>
      </form>
  </div>
  {{> globalBottomScripts}}
</body></html>
