<!doctype html><html>
<head>{{> globalHead}}</head>
<body>
	{{> globalNavigation}}
  <!-- login module -->
  <div class="join">
    <header id="header" class="logo-banner">
      <div class="wrap"><img src="img/logo/logo-white.png" alt="Eurofugees Logo" class="logo is-left"></div>
    </header><!-- /header -->
    <div class="login-content wrap">
      <h1 class="title">Welcome Back</h1>
      <h2 class="subtitle">Login to your account <span class="fa fa-user"></span></h2>
      <form action="login_submit" method="get" accept-charset="utf-8">
        <p class="control">
          <input class="input" type="text" placeholder="Username or Email">
        </p><!-- username -->
        <p class="control">
          <input class="input" type="password" placeholder="Password">
        </p><!-- password -->
        <p class="control login-buttons">
          <button class="button is-success">Submit</button>
          <button class="button">Cancel</button>
        </p><!-- buttons -->
      </form><hr>
      <p class="subtitle is-centered">OR</p>
      <a class="button is-info login-with-facebook"><span class="fa fa-facebook"></span>Login with Facebook</a><hr>
      <div class="login-extras">
        <a href="#">New? Sign Up!</a>
        <a href="#">Forgot Password</a>
      </div>
    </div>
  </div>
  {{> globalBottomScripts}}
</body></html>