<!doctype html><html><head>{{> globalHead}}</head>
<body>
  {{> globalNavigation}}
  <div class="wrap">
    <h3 class="text-center">Search for Places to Live</h3>
    <form id="search-form" role="form" method="get" action="/all-listingsVB">
      <div class="form-group" id="search-city">
        <label>Where are you going?</label>
        <input type="text" class="form-control" name="city" placeholder="Berlin">
      </div>
      <div class="form-group">
        <label id = "search-occupants">How many occupants total?</label>
        <input type="number" class="form-control" min="1" max="10" name="occupants" placeholder="1 - 10">
      </div>
      <div class="form-group">
        <label id = "search-cost">What's your price limit (in €)?</label>
        <input type="number" class="form-control" min="1" max="10000" name="cost" placeholder="€ 350">
      </div>
      <button type="submit" id="submitBtn" class="btn btn-default">Search</button>
    </form>
  </div>

  {{> globalBottomScripts}}
</body></html>
