<!doctype html><html><head>{{> globalHead}}</head>
<body>
  {{> globalNavigation}}
  <div class="wrap">
    <h3 class="text-center">Search for Places to Live</h3>
    <form id="search-form" role="form" method="get" action="/all-listingsVB">
      <div class="form-group">
        <label>Where are you going?</label>
        <input type="text" class="form-control" name="city" placeholder="City">
      </div>
      <div class="form-group">
        <label>When do you need a place?</label>
        <input type="date" class="form-control" name="date">
      </div>
      <button type="submit" id="submitBtn" class="btn btn-default">Search</button>
    </form>
  </div>

  {{> globalBottomScripts}}
</body></html>
