<!doctype html>
<html>
<head>
  {{> globalHead}}
</head>
<body id="template">
  <div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
      <!-- Hamburger icon -->
      <span></span>
    </a>
    <div id="menu">
      {{> globalNavigation}}
    </div>
    <div id="main">
      <div class="header">
        <img src="/img/logo/logo-white.png" alt="EuroFugees Logo" class="logo">
      </div>
      <div class="content">
      </div>
    </div>
  </div>
  <!-- end main content -->
  {{> globalBottomScripts}}
  <script src="/js/modules/side-menu.js"></script>
</body></html>