
<!doctype html>
<html>
<head>
  {{> globalHead}}
</head>
<body id="support">
  <div id="layout">
    {{> globalNavigation}}
    <div id="main">
      <div class="header">
      </div>
      <div class="content">
        <h2 class="text-center"><span class="fa fa-wrench"></span> Support</h2>
        {{#each questions}}
        <div class="help-topic" id="{{id}}">
          <a href="#">
            <h3>{{topic}}</h3>
          </a>
          <p>{{answer}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <!-- end main content -->
  {{> globalBottomScripts}}
</body></html>