
<!doctype html>
<html>
<head>
  {{> globalHead}}
</head>
<body id="support">
  <div id="layout">
    {{> globalNavigation}}
    <div id="main">
      <header class="header-bar">EuroFugees</header>
      <div class="header">
      </div>
      <div class="content">
        <div class="wrap-with-bottom">
          <div class="header-group">
          <h2 class="text-center"><span class="fa fa-envelope"></span> FAQs</h2>
            <h4>Contact EuroFugees for Important Cocnerns</h4>
            <a class="pure-button is-full-width is-centered" href="mailto:info@eurofugees.com"><span class="fa fa-angle-double-right"></span> Email Us</a>
          </div>
          <div class="header-group">
            <h2 class="text-center"><span class="fa fa-wrench"></span> Support</h2>
            <h4>Frequently-Asked Questions</h4>
          </div>
          {{#each questions}}
          <div class="help-topic" id="{{id}}">
            <a href="#">
              <h3><span class="fa fa-angle-double-right"></span> {{topic}}</h3>
            </a>
            <p style="display: none">{{answer}}</p>
          </div>
          {{/each}}
        </div>
        <a href="/" class="small-link"><span class="fa fa-home"></span> Home</a>
        <a href="/about" class="small-link"><span class="fa fa-info-circle"></span> What is EuroFugees?</a>
      </div>
    </div>
  </div>
  <!-- end main content -->
  {{> globalBottomScripts}}
</body></html>