/************************************
*************************************
NOTE: USE THIS CSS FILE ONLY FOR
LAYOUT AND SPACING PROPERTIES. THIS
INCLUDES TEXT ALIGNS AND SUCH
*************************************
************************************/

/************************************
*************************************
CRITICAL FIXES
*************************************
************************************/
.header {
  border: none !important;
}

/************************************
*************************************
GENERAL UTILITIES
*************************************
************************************/
.is-full-width {
  width: 100%;
}

.center-text {
  text-align: center;
}

.vertically-centered-text {
  height: 1em;
  line-height: 1em;
}

.push-down {
  margin-top: 20%;
}

.fa-fix {
  margin-top: 5px;
}

#hiddenField {
    display: none;
}

/************************************
*************************************
LIST YOUR SPACE PAGE LAYOUT
*************************************
************************************/

#entireHomePanel,
#privateRoomPanel,
#listYourSpace2Panel,
#fadedPanel{
    display: none;
}

/************************************
*************************************
LIST YOUR SPACE FORM LAYOUT
*************************************
************************************/

#list-your-space,
#addListing {
  background: url('/img/featured/city-street.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
}

#list-your-space .content,
#addListing .content {
	margin-top: 10%;
}

#list-your-space form fieldset {
	border: none;
	border-bottom: 1px solid #a1a1a1;
	padding: 20px 0;
	margin: 0 0 20px;
}

#list-your-space form legend {
	box-sizing: border-box;
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
}

#list-your-space label,
#search label {
  color: #fff;
  background: #556270;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}

.pure-form input,
.pure-form textarea,
.pure-form select {
  width: 100%;
  padding: 0 20px;
  color: #556270;
}

#list-your-space input,
#login input,
#search input {
  height: 3em;
}

#list-your-space textarea {
  height: auto;
  padding: 20px;
}

#list-your-space form .pure-g > div:first-of-type {
	text-align: left;
}

label + * {
	padding: 0 5px;
}

/************************************
*************************************
SLIDESHOW INTERACTIONS
*************************************
************************************/
.listing-slideshow {
	position: relative;
	display: block;
	overflow: hidden;
}

.listing-slideshow figure {
	position: absolute;
	opacity: 0;
	transition: 1s opacity;
}

.listing-slideshow figure.show {
	opacity: 1;
	position: static;
	transition: 1s opacity;
}

.listing-slideshow .next, .listing-slideshow .prev {
	color: #fff;
	position: absolute;
	background: rgba(0,0,0, .6);
	top: 50%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: .3;
	user-select: none;
}

.listing-slideshow .next:hover, .listing-slideshow .prev:hover {
	cursor: pointer;
	opacity: 1;
}

.listing-slideshow .next {
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.listing-slideshow .prev {
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

/************************************
*************************************
SEARCH
*************************************
************************************/


/************************************
*************************************
ALL LISTINGS
*************************************
************************************/
#search #main > header {
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 5px !important;
  font-size: 1.5em;
}