/************************************
*************************************
NOTE: USE THIS CSS FILE ONLY FOR
LAYOUT AND SPACING PROPERTIES. THIS
INCLUDES TEXT ALIGNS AND SUCH
*************************************
************************************/

/************************************
*************************************
TOP-LEVEL EDITS
*************************************
************************************/

html, body {
    width: 100%;
    min-height: 100%;
}

/************************************
*************************************
CRITICAL FIXES
*************************************
************************************/
.header {
  border: none !important;
}

/************************************
*************************************
GENERAL UTILITIES
*************************************
************************************/
.is-full-width {
  width: 100%;
}

.center-text {
  text-align: center;
}

.vertically-centered-text {
  height: 1em;
  line-height: 1em;
}

.push-down {
  margin-top: 20%;
}

.fa-fix {
  margin-top: 5px;
}

#hiddenField {
    display: none;
}

figure.show {
  margin: 0 !important;
}

.header-group {
  margin: 20px 0;
}

.header-group > *:first-child {
  margin: 0;
  padding: 0;
  color: #4ECDC4;
}

.header-group > *:nth-child(2) {
  margin: 5px 0;
  padding: 0;
  color: #556270;
  line-height: 1em;
}

.wrap-with-bottom {
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 15px;
}

/************************************
*************************************
LANDING
*************************************
************************************/

#landing img.logo {
  width: 50%;
  margin: 40px 0 20px;
}

#about img.logo {
  width: 30%;
  margin: 10px 0;
}

#landing .header > h1 {
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#landing .content {
  position: fixed;
  bottom: 0; left: 0;
}


#landing {
  background: url('/img/featured/station.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#landing .pure-button,
#landing .pure-button-primary {
  font-size: 1.25em;
}

.small-link {
  display: block;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  color: #556270;
}

#landing .small-link {
  color: #fff;
  text-align: center;
}

/************************************
*************************************
FAQS/SUPPORT
*************************************
************************************/
.header-bar {
  height: 3em;
  line-height: 3em;
  background: #4ECDC4;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-right: 20px;
}

.faq-item > a,
.help-topic > a {
  text-decoration: none;
}

.faq-item > a > *,
.help-topic > a > * {
  color: #556270;
  border: 1px dashed #556270;
  padding: 5px 10px;
  border-radius: 5px;
}

.faq-item > p,
.help-topic > p {
  padding: 0 5px 20px;
}

/************************************
*************************************
SIGNIN/SIGNUP
*************************************
************************************/

#login input,
#signIn input,
#search input {
  margin-bottom: 15px;
}

.login-extras {
  border-top: 1px solid #fff;
  padding: 20px 0;
}

.login-extras a {
  display: block;
  text-align: center;
}

/************************************
*************************************
ACCOUNT
*************************************
************************************/

/************************************
*************************************
LIST YOUR SPACE
*************************************
************************************/

#entireHomePanel,
#privateRoomPanel,
#listYourSpace2Panel,
#fadedPanel {
    display: none;
}

#list-your-space,
#addListing {
  background: url('/img/featured/city-street.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#list-your-space .content,
#addListing .content {
	margin-top: 10%;
}

#list-your-space form fieldset {
	border: none;
	border-bottom: 1px solid #a1a1a1;
	padding: 20px 0;
	margin: 0 0 20px;
}

#list-your-space form legend {
	box-sizing: border-box;
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
}

#list-your-space label,
#search label {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}

input,
textarea,
select {
  width: 100%;
  padding: 0 20px;
}

#list-your-space input,
#login input,
#search input {
  height: 3em;
}

#list-your-space textarea {
  height: auto;
  padding: 20px;
}

#list-your-space form .pure-g > div:first-of-type {
	text-align: left;
}

label + * {
	padding: 0 5px;
}

#list-your-space #main .header {
  padding: 20px 0;
  height: 2em;
  line-height: 2em;
}

#list-your-space #main .content > p {
  text-align: center;
  font-size: 1.25em;
}

/* euro symbol fix to alin with form */
.eurofix, .eurofix > span {
  height: 3em;
  line-height: 3em;
}

.eurofix {
  margin-top: 5px;
}

/************************************
*************************************
SEARCH
*************************************
************************************/

/************************************
*************************************
ALL LISTINGS
*************************************
************************************/

.listing {
  padding: 0;
  margin: 10px 0;
  border-radius: 5px;
}

.listing .content {
  padding: 15px;
  margin: 0;
}

.listing-tag {
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 0.75em;
}

.listing-primary-details > header {
  margin: 0;
}

.listing-primary-details > header .offerTitle {
  margin: 10px 0 0;
  padding: 0;
}

.listing-primary-details > header .offerPrice,
.listing-primary-details > header .offerType {
  box-sizing: border-box;
  padding: 5px;
}

.listing-primary-details > header .offerPrice {
  text-align: center;
}

.listing-primary-details .offerImageFirst {
  width: 100%;
}

.listing-primary-details .offerImageFirst > img {
  width: 100%;
}

.listing-secondary-details {
  margin-bottom: 0;
  padding-bottom: 0;
}

.listing-secondary-details .offerDateAvailable {
  border: 1px solid #556270;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0 5px;
}

.listing-hidden {
  border: 1px solid #556270;
  margin: 10px 0 5px;
  padding: 10px;
  border-radius: 5px;
}

.listing-hidden * {
  margin: 0; padding: 0;
}

.listing-secondary-details .offerDateAvailable .pure-g div p {
  margin: 0; padding: 0;
}

.listing-secondary-details .offerDateAvailable .pure-g div:last-of-type p {
  text-align: right;
  font-weight: bold;
}

/* listing result */

#listing-result .listing-primary-details > header .offerTitle {
  font-weight: normal;
}

#listing-result .listing-primary-details > header .offerPrice {
  border-radius: 5px;
}

/* house card */

#house-card,
#house-card img,
#house-card figure {
  margin: 0 !important;
  padding: 0 !important;
}

/* refine search */

#refine-form {
  border-radius: 5px;
  padding: 10px;
}

/* checkboxes */
input[type="checkbox"] {
  height: 20px !important;
}

/* house */
.house > div {
  border-bottom: 1px solid #333;
}

/************************************
*************************************
LISTING
*************************************
************************************/

/************************************
*************************************
CONTACT
*************************************
************************************/

/************************************
*************************************
SLIDESHOW INTERACTIONS
*************************************
************************************/

.listing-slideshow {
	position: relative;
	display: block;
	overflow: hidden;
}

.listing-slideshow figure {
	position: absolute;
	opacity: 0;
	transition: 1s opacity;
}

.listing-slideshow figure.show {
	opacity: 1;
	position: static;
	transition: 1s opacity;
}

.listing-slideshow .next, .listing-slideshow .prev {
	color: #fff;
	position: absolute;
	background: rgba(0,0,0, .6);
	top: 50%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: .3;
	user-select: none;
}

.listing-slideshow .next:hover, .listing-slideshow .prev:hover {
	cursor: pointer;
	opacity: 1;
}

.listing-slideshow .next {
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.listing-slideshow .prev {
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

/************************************
*************************************
SEARCH
*************************************
************************************/


/************************************
*************************************
ALL LISTINGS
*************************************
************************************/

#search #main > header {
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 5px !important;
  font-size: 1.5em;
}

/************************************
*************************************
BUTTONS
*************************************
************************************/

.pure-button,
.pure-button-primary,
.pure-button-secondary {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  margin: 10px 0;
  border-radius: 5px;
}

/************************************
*************************************
SIDE MENU SPECIAL EDITS
*************************************
************************************/
