@import url(https://fonts.googleapis.com/css?family=Play);

/************************************
*************************************
NOTE: USE THIS CSS FILE ONLY FOR
LISTING-YOUR-SPACE PAGES
*************************************/

#entireHomeBtn, #privateRoomBtn{
	display: block;
}

#privateRoomBtn{
	margin-top: 2%;
}


#entireHomePanel, #privateRoomPanel, #listYourSpace2Panel{
	display: none;
	padding: 1%;
	background: rgba(58, 145, 182, 0.5);
}

#hiddenField {
	display: none;
}

