/************************************
*************************************
NOTE: USE THIS CSS FILE ONLY FOR
STYLES DUE TO CHANGE IN STATE
*************************************
************************************/

/* global navigation menu states */

.navbar-toggle:hover {
	border: none;
}

.navbar-nav li:active, .navbar-nav li:hover a {
	background: rgba(0,0,0,0.1);
}

