@import url('/fonts/Quicksand/webfontkit/stylesheet.css');
@import url('/fonts/Roboto_Slab/webfontkit/stylesheet.css');

/************************************
*************************************
NOTE: USE THIS CSS FILE ONLY FOR
THEMES, BACKGROUNDS, AND TYPOGRAPHY
EXCEPT FOR ALIGNMENTS
*************************************
************************************/

/* THIS IS THE COLOR THEME
1. #556270
2. #4ECDC4
3. #C7F464
4. #FF6B6B
5. #C44D58
*/

/************************************
*************************************
GLOBAL TYPOGRAPHY
*************************************
************************************/

/* SERIF quicksand font implementations */
* {
  font-family: "quicksandregular", Times, sans-serif;
}

/* SANS-SERIF roboto slab font implementations */
p {
  font-family: "roboto_slabregular", Times, sans-serif;
}

/************************************
*************************************
BASIC ELEMENTS
*************************************
************************************/

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: Georgia, Times, "Times New Roman", serif;
}

a {
  color: #4ECDC4;
}


/************************************
*************************************
LANDING
*************************************
************************************/

/************************************
*************************************
FAQS/SUPPORT
*************************************
************************************/

/************************************
*************************************
SIGNIN/SIGNUP
*************************************
************************************/

#login, #signIn {
  background: #4ECDC4;
  color: #fff;
}

.login-extras a {
  color: #fff;
}

/************************************
*************************************
ACCOUNT
*************************************
************************************/

/************************************
*************************************
LIST YOUR SPACE
*************************************
************************************/

/*#list-your-space form*/
strong {
  color: #FF6B6B;
}

#list-your-space,
#addListing {
  color: #fff;
}

/*#list-your-space*/
legend {
  color: #fff;
  background: #556270;
}

input,
textarea,
select {
  color: #556270;
}

#list-your-space #main .header {
  background: #FF6B6B;
}

#list-your-space #main .header > h2 {
  font-family: "roboto_slabthin", Times, serif;
  color: #fff;
}

#list-your-space #main .content > p {
  font-family: "Quicksandbold", Arial, sans-serif;
  color: #fff;
}


/* refine search */

#refineSearch {
  background: #fff;
}

#refine-form {
  background: #fff;
}

/************************************
*************************************
SEARCH
*************************************
************************************/

#search #main > header {
  color: #C7F464;
  background: #556270;
}

#search {
  background: #ddd;
}

/************************************
*************************************
ALL LISTINGS
*************************************
************************************/

/************************************
*************************************
LISTING
*************************************
************************************/

.listing {
  background: #fff;
}

.listing-secondary-details .offerDateAvailable .pure-g div:first-of-type p {
  font-family: "Quicksandregular", "Arial", serif;
}

/* listing result */

#listing-result .listing {
  background: #fff;
  color: #556270;
}

#listing-result .listing-tag {
  background: #556270;
  color: #fff;
}

#listing-result .listing-primary-details > header .offerTitle {
  color: #333;
  font-family: "roboto_slabregular", "Times", serif;
}

#listing-result .listing-primary-details > header .offerPrice,
#listing-result .listing-primary-details > header .offerType {
  font-family: "Quicksandregular", "Arial", sans-serif;
}

#listing-result .listing-primary-details > header .offerPrice {
  background: #C7F464;
  color: #000;
}

/************************************
*************************************
CONTACT
*************************************
************************************/

/************************************
*************************************
SIDE MENU THEME
*************************************
************************************/

.pure-menu-heading {
  background: #4ECDC4 !important;
}

.menu-link {
  background: none !important;
}

.menu-link > span,
.menu-link > span::before,
.menu-link > span::after {
  background: #fff !important;
}

/************************************
*************************************
BUTTON THEME
*************************************
************************************/

.pure-button-primary {
  background: #4ECDC4 !important;
}

.pure-button-red {
  background: #FF6B6B;
  color: #fff;
}

/************************************
*************************************
SLIDESHOW INTERACTIONS
*************************************
************************************/