<!doctype html>
<html>
<head>
  {{> globalHead}}
</head>
<body id="template">
  <div id="layout">
    {{> globalNavigation}}
    <script language="JavaScript">
      function showInput() {
        var fn =  document.getElementById("first-name").value;
        var ln =  document.getElementById("last-name").value;
        var phone =  document.getElementById("phone").value;
        var nocu =  document.getElementById("number-count").value;
        var age= document.getElementById("age").value;

        document.getElementById('fn').innerHTML= "Vorname: "+fn;
        document.getElementById('ln').innerHTML= "Nachname: "+ln;
        document.getElementById('applicantPhone').innerHTML= "Telefon: "+phone;
        document.getElementById('numOfOccupants').innerHTML= "Anzahl der Insassen: "+nocu;
        document.getElementById('ageOfApplicant').innerHTML= "Alter: "+age;
        console.log("")

        document.getElementById("message").style.display = 'block';
        document.getElementById("application").style.display = 'none';

      }
    </script>
    <div id="main">
      <header class="header-bar">Contact this host <span class="fa fa-envelope"></span></header>
      <div id="application" class="content">
        <form class="pure-form pure-form-stacked contact-host">
          <fieldset>
            <!-- first name -->
            <label>First Name (الاسم الأول)</label>
            <input type="text" class="form-control" id="first-name" placeholder="First Name" required>
            <!-- last name -->
            <label>Last Name (الكنية)</label>
            <input type="text" class="form-control" id="last-name" placeholder="Last Name" required>
            <!-- phone number -->
            <label>Your Phone Number (هاتف)</label>
            <input type="text" class="form-control" id="phone" placeholder="(999) 999-9999" required>
            <!-- how many people -->
            <label>How many people are with you? (عدد الافراد)</label>
            <input type="number" class="form-control" min="1" max="5" id="number-count" placeholder="1 - 5">
            <!-- how old -->
            <label>How old are you? (العمر)</label>
            <input type="number" class="form-control" min="15" max="100" id="age" placeholder="Age" required>
            <!-- paying -->
            <label>Who will be paying for you?(من سيدفع)</label>
            <div class="radio">
              <label>Self (نفسي)</label>
              <input type="radio" id="optionsRadios1" id="payer" value="self" checked>
            </div>
            <div class="radio">
              <label>Government(الحكومة)</label>
              <input type="radio" id="optionsRadios2" id="payer" value="Government">
            </div>
          </fieldset>
          <div class="is-full-width pure-button pure-button-red center-text" onclick="showInput();"><span class="fa fa-send"></span> Submit</div>
        </form>
      </div>
    </div>
    <div>
      <div class="content">
      <form>
        <div id="message" style="display: none;">
          <header class="header">
            <h3>We've sent the host the following email</h3>
            <h4>لقد ارسلنا هذه الرسالة لصاحب البيت و سوف يتراسل معكم قريبا</h4>
          </header>
          <p>Hello,</p>
          <p>Sie haben gerade einen neuen Auftrag für Ihren Eintrag. Hier ist der Klägerin Informationen:</p>
          <p id="fn"></p>
          <p id="ln"></p>
          <p id="ageOfApplicant"></p>
          <p id="numOfOccupants"></p>
          <p id="applicantPhone"></p>
          <p>Danke :)</p>
          <a href="/" class="is-full-width pure-button center-text"><span class="fa fa-angle-left"></span> Home</a>
        </div>
      </form>
    </div>
  </div>
  <!-- end main content -->
  {{> globalBottomScripts}}
  {{> googleAnalytics}}
</body></html>