<!doctype html>
<html>
<head>
  {{> globalHead}}
</head>
<body id="login">
  <script type="text/javascript">
    function onLoginClick(){
      var input = document.getElementById("usernameInputField").value;
      var indexOfAt = input.indexOf("@");
      if (indexOfAt == -1){
        localStorage.setItem('user-firstName', input);
      } else {
        input = input.substring(0, indexOfAt);
        localStorage.setItem('user-firstName', input);
      }
      localStorage.setItem('userLoggedIn','true');
    }
  </script>
  <div id="layout">
    {{> globalNavigation}}
    <div id="main">
      <div class="header">
      </div>
      <div class="content">
        <!-- login module -->
        <h1 class="subtitle center-text"><span class="fa fa-sign-in"></span> Login</h1>
        <h2 class="title center-text">Welcome Back</h2>
        <form method="get" accept-charset="utf-8" class="pure-form pure-form-stacked">
          <fieldset>
            <!-- login details -->
            <label><span class="fa fa-user"></span> Username or Email</label>
            <input type="text" placeholder="Username or Email" id="usernameInputField">
            <label><span class="fa fa-asterisk"></span> Password</label>
            <input type="password" placeholder="Password">
            <!-- form submit -->
            <button type="submit" class="pure-button pure-button-red is-full-width is-centered" onclick="onLoginClick()">Login</button>
            <a href="/" class="pure-button is-full-width is-centered">Cancel</a>
          </fieldset>
        </form>
        <div class="login-extras">
          <a href="/sign-up">New? <strong>Sign Up!</strong></a>
          <a href="#">Forgot Password</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end main content -->
  {{> globalBottomScripts}}
</body></html>

