
<!doctype html>
<html>
<head>
  {{> globalHead}}
</head>
<body id="login">
  <div id="layout">
    {{> globalNavigation}}
    <div id="main">
      <div class="header">
      </div>
      <div class="content">
        <!-- login module -->
        <h1 class="subtitle center-text"><span class="fa fa-sign-in"></span> Login</h1>
        <h2 class="title center-text">Welcome Back</h2>
        <form action="login_submit" method="get" accept-charset="utf-8" class="pure-form pure-form-stacked">
          <fieldset>
            <!-- login details -->
            <label><span class="fa fa-user"></span> Username or Email</label>
            <input type="text" placeholder="Username or Email">
            <label><span class="fa fa-asterisk"></span> Password</label>
            <input type="password" placeholder="Password">
            <!-- form submit -->
            <button type="submit" class="pure-button pure-button-red is-full-width is-centered">Next <span class="fa fa-angle-double-right"></span></button>
            <a href="/" class="pure-button is-full-width is-centered">Cancel</a>
          </fieldset>
        </form>
        <div class="login-extras">
          <a href="/sign-up">New? <strong>Sign Up!</strong></a>
          <a href="#">Forgot Password</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end main content -->
  {{> globalBottomScripts}}
</body></html>

